torch==2.0.1
torchcontrib==0.0.2
torchvision==0.15.2
tqdm==4.65.0
yacs==0.1.8
simplejson==3.19.1
optuna==3.3.0
plotly==5.15.0
matplotlib==3.7.2
scipy==1.11.1
scikit-learn==1.3.0
opencv-python==4.8.0.76
torchxrayvision==1.1.1